CREATE PROCEDURE [dbo].[USP_GL_CB_RPT_V4]
(
	@StartDate1 varchar(11),
	@EndDate1 varchar(11),
	@LedgerID1 varchar(10)
)
AS
BEGIN
	DECLARE 	@StartDate varchar(11),
				@EndDate varchar(11),
				@LedgerID varchar(10)
	
	DECLARE	@GLCrRow int = 0,
			@GLDrRow int = 0,
			@TotalCr int = 0,
			@TotalDr int = 0,
			@Name3 varchar(100) = ''
	
	DECLARE @DR_GL TABLE(
		Id int IDENTITY(2,1),
		Name2 varchar(200) NULL,
		M2 float NULL,
		DateS2 smalldatetime NULL
	)
	DECLARE @CR_GL TABLE(
		Id int IDENTITY(2,1),
		Name1 varchar(200) NULL,
		M1 float NULL,
		DateS1 smalldatetime NULL
	)
	SET @StartDate = @StartDate1
	SET @EndDate = @EndDate1
	SET @LedgerID = @LedgerID1	
	SET @Name3 = (SELECT sbname FROM Ledger WHERE id= @LedgerID)
	
	SET NOCOUNT ON

-------------------------- Opening Balance ---------------------------
	;WITH TDR_CTE AS(	
		SELECT SUM(j.Debt) AS M2
		FROM Ledger l, Journal j 
		WHERE l.id = j.sid and j.jdate < @StartDate and j.sid <> @LedgerID And 
		j.jid in(select jid from journal where sid = @LedgerID) and j.Debt>0 and j.ApprovedBy>0
	)
	,TCR_CTE AS(
		SELECT SUM(j.Credit) AS M1
		FROM Ledger l, Journal j 
		WHERE l.id = j.sid and j.jdate < @StartDate and j.sid <> @LedgerID And 
		j.jid in(select jid from journal where sid = @LedgerID) and j.Credit>0 and j.ApprovedBy>0
	)
	SELECT @TotalDr = (SELECT M2 FROM TDR_CTE), @TotalCr = (SELECT M1 FROM TCR_CTE)
-------------------------------------------------------------------------

	;WITH DR_GL AS(
		SELECT (CASE WHEN j.Notify = 'AR' THEN (SELECT @Name3+'('+c.Name+')' FROM sales AS s, Company AS c WHERE s.cid = c.id and s.TNO = j.TNO) ELSE l.SBName END) AS Name2, j.Debt AS M2, j.jdate AS DateS 
		FROM Ledger l, Journal j 
		WHERE l.id = j.sid and j.jdate between @StartDate and @EndDate and j.sid <> @LedgerID And 
		j.jid in(select jid from journal where sid = @LedgerID) and j.Debt>0 and j.ApprovedBy>0
	)
	INSERT @DR_GL
	SELECT Name2, M2, DateS FROM DR_GL
	ORDER BY DateS
--------------------------------------------------------------------------
	;WITH CR_GL AS(
		SELECT (CASE WHEN j.Notify = 'AR' THEN (SELECT @Name3+'('+c.Name+')' FROM sales AS s, Company AS c WHERE s.cid = c.id and s.TNO = j.TNO) ELSE l.SBName END) AS Name1, j.Credit AS M1, j.jdate AS DateS 
		FROM Ledger l, Journal j 
		WHERE l.id = j.sid and j.jdate between @StartDate and @EndDate and j.sid <> @LedgerID And 
		j.jid in(select jid from journal where sid = @LedgerID) and j.Credit>0 and j.ApprovedBy>0
	)
	INSERT @CR_GL
	SELECT Name1, M1, DateS FROM CR_GL
	ORDER BY DateS
----------------------- Count Total Debt and Credit ----------------------

	SELECT @GLDrRow = COUNT(*) OVER() FROM @DR_GL
	SELECT @GLCrRow = COUNT(*) OVER() FROM @CR_GL

--------------------------------------------------------------------------
	IF @GLDrRow >= @GLCrRow
		BEGIN
			SELECT 1 As ID, 'Opening Balance' As Name1, 'Opening Balance' As Name2, @Name3 As Name3, @TotalCr As M1,
			@TotalDr As M2, NULL As DateS1, NULL As DateS2
			UNION
			SELECT d.Id As ID,c.Name1,d.Name2,@Name3 As Name3,c.M1,d.M2,c.DateS1,d.DateS2 
			FROM @DR_GL d LEFT JOIN @CR_GL c ON d.Id = c.Id
			ORDER BY ID
		END
	ELSE
		BEGIN
			
			SELECT 1 As ID, 'Opening Balance' As Name1, 'Opening Balance' As Name2, @Name3 As Name3, @TotalCr As M1,
			@TotalDr As M2, NULL As DateS1, NULL As DateS2
			UNION
			SELECT c.Id,c.Name1,d.Name2,@Name3 As Name3,c.M1,d.M2,c.DateS1,d.DateS2 
			FROM @CR_GL C LEFT JOIN @DR_GL D on C.Id = D.Id
			ORDER BY ID
		END	
	
	SET NOCOUNT OFF
END