@{
    ViewBag.Title = "Change Password";
}

<h2 style="text-align: center;">Change Password</h2>
<p style="text-align: center;">
    Your password has been changed successfully.
</p>
<br/>
<br/>
<div style="margin-left: 200px; margin-right: 200px; text-align: center;">@Html.ActionLink("Back", "LogOff", "Account", null, new { @class = "button" })</div>
@*<div style="margin-left: 200px; margin-right: 200px; text-align: center;">@Html.ActionLink("Back", "Index", "Home", null, new { @class = "button" })</div>*@